name: alist
services:
  alist:
    image: xhofe/alist:latest
    container_name: alist
    deploy:
      resources:
        reservations:
          memory: "64M"
    network_mode: bridge
    ports:
      - target: 5244
        published: "5244"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/alist/data
        target: /opt/alist/data
    x-casaos:
      ports:
        - container: "5244"
          description:
            en_us: WebUI HTTP Port
            zh_cn: WebUI HTTP端口
      volumes:
        - container: /opt/alist/data
          description:
            en_us: alist config directory.
            zh_cn: alist 配置目录
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  author: Cp0204
  category: Cloud
  description:
    en_us: A file list program that supports multiple storage, powered by Gin and Solidjs.
    zh_cn: 一个支持多种存储的文件列表程序，使用 Gin 和 Solidjs。
  developer: Xhofe
  icon: https://cdn.jsdelivr.net/gh/Cp0204/CasaOS-AppStore-Play@main/Apps/Alist/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/Cp0204/CasaOS-AppStore-Play@main/Apps/Alist/screenshot-1.png
  main: alist
  port_map: "5244"
  scheme: http
  tagline:
    en_us: A file list program that supports multiple storage
    zh_cn: 一个支持多种存储的文件列表程序
  thumbnail: https://cdn.jsdelivr.net/gh/Cp0204/CasaOS-AppStore-Play@main/Apps/Alist/thumbnail.png
  tips:
    before_install:
      en_us: After installation, view the initial password in the log.
      zh_cn: 安装完成后，请在日志中查看初始密码。
  title:
    en_us: Alist
